h1 {
   text-align: center;
}
body {
  height: 100%;
  margin: auto;
  text-align: center;
}
div {
  background: red;
  width: 25%;
}
img{
  width: 900px;
  margin: auto;
  display: block;
}
figcaption {
  font-size: small;
}


#featured-property p {
  width: 800px;
  margin: 20px auto;
}